name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t awsml .

      - name: Tag Docker image
        run: |
          docker tag awsml:latest \
          <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/awsml:latest

      - name: Push image to ECR
        run: |
          docker push \
          <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/awsml:latest
